# Data Science Tools and Ecosystem

## Author 
Jing Lei Guo

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Create a table for Data Science tools

Some of the popular languages that Data Scientists use are:
1. python
2. java
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. SciPy

|Data Science Tools|
|------------------|
| Jupyter Notebook |
|     RStudio      |
|  Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335